body{
    background-color: #9ad4e7;
}
.todo {
    background-color: rgb(63, 199, 199);
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: 20px; 
}

.deleteTask{
    background-color: transparent;
    color: red;
    outline: none;
    border: 1px solid transparent;
    margin: 10px;
    margin-left: 70px;
}
